<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings><add name="DB_GamingFormEntities" connectionString="metadata=res://*/GMModel.csdl|res://*/GMModel.ssdl|res://*/GMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.22.164\DESKTOP-RAE7E6C,1433;initial catalog=DB_GamingForm;persist security info=True;user id=DBmem;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>